<h1><%= @article.title %></h1>
<p>by <%= @article.author %> </p>

<% if @article.comments.any? %>
  <h4>Here are the comments for this article:</h4>

  <ul>
    <% @article.comments.each do |comment| %>
      <li>
        <%= comment.text %> |
        <%= link_to "Edit", edit_article_comment_path(@article, comment) %> |
        <%= link_to "Delete", article_comment_path(@article, comment),
                                :data => {:confirm => "Are you sure?",
                                            :method => "delete"} %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>There are no comments yet!</p>
<% end %>

<p><%= link_to "Add a comment", new_article_comment_path(@article) %></p>


<p><%= link_to "Edit", edit_article_path(@article) %></p>
<p><%= link_to "Delete Article", article_path(@article),
                          :data => {:confirm => "Are you sure?",
                                    :method => "delete" } %></p>

<hr>
<p><%= link_to "Back to articles", articles_path %></p>
