<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:page_title) %> | Students Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header>
      <%= render '/layouts/nav' %>
    </header>

    <%= flash[:alert] %>
    <%= flash[:notice] %>

    <div class="container">
      <%= yield %>
    </div>

    <footer>
      <div class="container text-center">
        <p>Copyright &copy; Your Website 2016</p>
      </div>
    </footer>
  </body>
</html>
